<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <ion-list>
      <ion-item lines="none">
        <ion-input type="email" label="Email" formControlName="email" labelPlacement="floating" errorText="Email is required"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input [type]="showPass ? 'text' : 'password'" label="Password" formControlName="password" labelPlacement="floating" errorText="Password is required">
          <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="showPass = !showPass">
            <ion-icon slot="icon-only" [name]="showPass ? 'eye' : 'eye-off'" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" [disabled]="loginForm.invalid">
            <ion-icon name="log-in" slot="start"></ion-icon>
            Login
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="tertiary" expand="block" [routerLink]="['/auth/register']" [routerDirection]="'root'">
            <ion-icon name="document-text" slot="start"></ion-icon>
            Register
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="primary" (click)="loginGoogle()">
            <ion-icon name="logo-google" slot="start"></ion-icon>
            <ion-label>Login with Google</ion-label>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="primary" (click)="loginFacebook()">
            <ion-icon name="logo-facebook" slot="start"></ion-icon>
            <ion-label>Login with Facebook</ion-label></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
