<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <form [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-list>
      <ion-item lines="none">
        <ion-input label="Name" labelPlacement="floating" formControlName="name" errorText="Username is required"></ion-input>
        @if (registerForm.get('name')?.dirty && registerForm.get('name')?.valid) {
        <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
        }
      </ion-item>
      <ion-item lines="none">
        <ion-input type="email" label="Email" labelPlacement="floating" formControlName="email" errorText="A correct email is required"></ion-input>
        @if (registerForm.get('email')?.dirty && registerForm.get('email')?.valid) {
        <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
        }
      </ion-item>

      <ion-item lines="none">
        <ion-input type="password" label="Password" labelPlacement="floating" formControlName="password" errorText="Password is required"></ion-input>
        @if (registerForm.get('password')?.dirty && registerForm.get('password')?.valid) {
        <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
        }
      </ion-item>
      <ion-item lines="none">
        <ion-input type="password" label="Repeat password" labelPlacement="floating" formControlName="password2" [valueEquals]="registerForm.get('password')!.getRawValue()" errorText="Passwords do not match"></ion-input>
        @if (registerForm.get('password2')?.dirty && registerForm.get('password2')?.valid) {
        <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
        }
      </ion-item>
      <ion-item lines="none">
        <ion-label position="inset">Avatar</ion-label>
        <ion-button color="secondary" (click)="takePhoto()">
          <ion-icon name="camera" slot="start"></ion-icon>
          Camera
        </ion-button>
        <ion-button color="tertiary" (click)="pickFromGallery()">
          <ion-icon name="images" slot="start"></ion-icon>
          Gallery
        </ion-button>
      </ion-item>
    </ion-list>
    @if (newUser.avatar) {
    <ion-img [src]="newUser.avatar"></ion-img>
    }
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" [disabled]="registerForm.invalid || !newUser.avatar">
            <ion-icon name="document-text" slot="start"></ion-icon>
            Register
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="danger" expand="block" fill="outline" [routerLink]="['/auth/login']" [routerDirection]="'root'">
            <ion-icon name="arrow-undo-circle" slot="start"></ion-icon>
            Cancel
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
