<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Update {{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (profile) {
    <form (ngSubmit)="updateProfile()" [formGroup]="profileForm">
      <ion-list>
        <ion-item lines="none">
          <ion-input type="text" label="Username" formControlName="name" labelPlacement="floating" errorText="Username is required"
          value="{{ username }}"></ion-input>
        </ion-item> <!--TODO: No consigo que saque el value por defecto, modificar también validación-->
        <ion-item lines="none">
          <ion-input type="email" label="Email" formControlName="email" labelPlacement="floating" errorText="Email is required"
          value="{{ userEmail }}">
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" expand="block" [disabled]="profileForm.invalid">
            <ion-icon name="pencil" slot="start"></ion-icon>
            Update
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  } @else if (password){
    <form (ngSubmit)="updatePassword()" [formGroup]="passwordForm">
      <ion-list>
        <ion-item lines="none">
          <ion-input type="password" label="Password" formControlName="password" labelPlacement="floating" errorText="Password is required"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input type="password" label="Repeat password" formControlName="password2" labelPlacement="floating" [valueEquals]="passwordForm.get('password')!.getRawValue()" errorText="Passwords do not match">
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" expand="block" [disabled]="passwordForm.invalid">
            <ion-icon name="pencil" slot="start"></ion-icon>
            Update
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  }
</ion-content>
