<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher #refresher slot="fixed" (ionRefresh)="loadComments(refresher)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-list-header color="tertiary"> Comments </ion-list-header>
    @for (comment of comments(); track comment.id){
      <ion-item>
        <ion-avatar>
          <img src="{{ comment.user.avatar }}" alt="{{ comment.user.name }}" /> <!--TODO: Añadir enlace al perfil-->
        </ion-avatar>
        <p>{{ comment.user.name }}</p> <!--TODO: Que salga en vertical por favor.-->
        <p>{{ comment.date }}</p>
        <ion-col>
          <ion-label>
            <p>{{ comment.comment }}</p>
          </ion-label>
        </ion-col>
      </ion-item>
    }
  </ion-list>
</ion-content>
