<ion-header>
  <ion-toolbar></ion-toolbar>
  <ion-toolbar>
    <ion-item>
        <ion-label><p>{{ event()!.address }}</p></ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
    @if (coordinates()){
      <ol-map [coordinates]="coordinates()">
        <ol-marker [coordinates]="coordinates()"></ol-marker>
      </ol-map>

      <ion-fab-button (click)="startNavigation()" size="small" style="position: absolute; bottom: 0; right: 0;" color="tertiary">
        <ion-icon size="small" name="navigate"></ion-icon>
      </ion-fab-button>
    }
</ion-content>
