<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-img [src]="user().avatar"></ion-img>
        </ion-item>
        @if (user().me){
        <ion-item>
            <ion-button color="secondary" (click)="takePhoto()">
              <ion-icon name="camera" slot="start"></ion-icon>
              Camera
            </ion-button>
            <ion-button color="tertiary" (click)="pickFromGallery()">
              <ion-icon name="images" slot="start"></ion-icon>
              Gallery
            </ion-button>
          </ion-item>
        }
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-item>
              <ion-label>
                Name:
                <p>{{ user().name }}</p>
              </ion-label>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label>
                Email:
                <p>{{ user().email }}</p>
              </ion-label>
            </ion-item>
          </ion-row>
          @if (user().me){
          <ion-row>
            <ion-item>
                <ion-button color="warning" expand="block" (click)="openModal('profile')">
                  Edit profile
                </ion-button>
                <ion-button color="warning" expand="block" (click)="openModal('password')">
                  Edit password
                </ion-button>
              </ion-item>
            </ion-row>
          }
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="2">
        <ion-button size="small" color="primary" (click)="showAction()">See more about this user</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>